<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="instafeed"></div>

<script type="text/javascript">
    var feed = new Instafeed({    
      accessToken: 'IGQVJVa0lDSkgwRnlNMnp2am5wZATRIaEtsNTBEZA1RJNVBCOWFEaTRyQU9qdnlSWDJqSmR0Q0IwejFSSzJCOFVTNVc4MUZABS0lyZAmRaRXpOOEVpMjhYU3BrSGN2RmlxZAl9zUXhTMnIwVTBoVkc0Wk4zaQZDZD',
      limit: 12,
      debug: true,
      template: '<a href="{{link}}"><img title="{{caption}}" src="{{image}}" /></a>'
    });
    feed.run();
</script>


<!DOCTYPE html>
<html>
<head>
	<title>Instafeed on Your Website</title>
	<style type="text/css">
		a img{ 
			width: 25%;
		}
	</style>
</head>
<body>
	<h1 style="text-align: center">Instagram Feed</h1>
    	<div id="instafeed-container"></div>



	<script src="https://cdn.jsdelivr.net/gh/stevenschobert/instafeed.js@2.0.0rc1/src/instafeed.min.js"></script>
	<script type="text/javascript">
	var userFeed = new Instafeed({
		get: 'user',
		target: "instafeed-container",
    	resolution: 'low_resolution',
		accessToken: 'IGQVJVa0lDSkgwRnlNMnp2am5wZATRIaEtsNTBEZA1RJNVBCOWFEaTRyQU9qdnlSWDJqSmR0Q0IwejFSSzJCOFVTNVc4MUZABS0lyZAmRaRXpOOEVpMjhYU3BrSGN2RmlxZAl9zUXhTMnIwVTBoVkc0Wk4zaQZDZD'
	});
	userFeed.run();
	</script>
</body>
</html>



<script type="text/javascript" src="/assets/js/instafeed.js"></script>

</body>
</html>