@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$cn-purple: #661f72;
$cn-green: #17ae99;
$cn-magenta: #d82b6a;
$cn-yellow: #ffb100;
$cn-orange: #ff5f2c;
$cn-light-gray: #ececec;
$cn-dark-gray: #525252;

$theme-colors: (
    "cn-purple": $cn-purple,
    "cn-green": $cn-green,
    "cn-magenta": $cn-magenta,
    "cn-yellow": $cn-yellow,
    "cn-orange": $cn-orange,
    "cn-light-gray": $cn-light-gray,
    "cn-dark-gray": $cn-dark-gray,

    "primary":    $cn-purple,
    "secondary":  $cn-magenta,
    "success":    $cn-magenta,
    "info":       $cn-yellow,
    "warning":    $cn-orange,
    "danger":     $cn-magenta,
    "light":      $cn-light-gray,
    "dark":       $cn-dark-gray
  
    );
    
    $link-color: $cn-purple;
    $link-hover-color: $cn-magenta;
    
    li {
        list-style-type: none;
      }

    $font-family-sans-serif: Maven Pro;
    $input-bg: transparent;
    $input-border-color: transparent;
    $input-font-weight: 900;
    
    $nav-link-font-size:Larger;
    $nav-link-font-weight:600;
    $nav-link-font-style: italic;
    $nav-link-hover-color: $cn-purple;

    $enable-negative-margins: true;
    
    $carousel-indicator-width: 21px;
    $carousel-indicator-height: 21px;
    $carousel-indicator-opacity: .2;
    $carousel-indicator-active-bg: none;


    $font-weight-bold: 900;
    $font-color: $cn-purple;

     h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        color : $cn-purple !important;
        font-style: italic!important;
        font-weight: 900!important;
    }
    
    h1, .h1, h2, .h2{
        color : $cn-magenta !important;
        font-style: italic!important;
        font-weight: 900!important;
        }


    .botton-border-menu-1:hover{
        border-bottom: 6pt solid $cn-magenta;
    }
    .botton-border-menu-2:hover{
        border-bottom: 6pt solid $cn-green;
    }
    .botton-border-menu-3:hover{
        border-bottom: 6pt solid $cn-yellow;
    }
    .botton-border-menu-4:hover{
        border-bottom: 6pt solid $cn-purple;
    }
    .botton-border-menu-5:hover{
        border-bottom: 6pt solid $cn-orange;
    }
    
    .menu-link{
        font-style: italic;
        color:$cn-dark-gray;
    }

    .nav-item{
        text-align: center;
    }

    .form-control:focus{
        border-color: transparent !important;
        box-shadow: transparent !important;
        -webkit-box-shadow: none  !important;
    }

    .bg-form-nome{
        border: 15px solid transparent;
        border-image: url(assets/images/form-nome.jpg) 15;      
        }
    .bg-form-email{
        border: 15px solid transparent;
        border-image: url(assets/images/form-email.jpg) 15;      
    }
    .bg-form-assunto{
        border: 15px solid transparent;
        border-image: url(assets/images/form-assunto.jpg) 15;      
    }
    .bg-form-msg{
        border: 15px solid transparent;
        border-image: url(assets/images/form-mensagem.jpg) 15;      
    }

    .bg-form-nome, .bg-form-email, .bg-form-assunto, .bg-form-msg{
        background-repeat: no-repeat;
        background-size: contain;
                }

    .wpcf7-form-control-wrap{
        padding:0!important;
    }

    .form-contato::placeholder{
        color:$cn-magenta !important;
        font-style: italic;
    }
    .form-contato{
        color:$cn-magenta !important;
        font-style: italic;
    }

    .search-bar::placeholder{
        color:$cn-purple !important;
        font-style: italic;
    }
    .search-bar{
        color:$cn-purple !important;
        font-style: italic;
    }

    .img-search-bar{
        border: 10px solid transparent!important;
        border-image: url(assets/images/borda-search-bar.png) 15!important;      
    }
   
    .btn-search{
        background-image: url(assets/images/search-btn.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 90%;
        height: 60px;
        width: 60px;
        border: 10px solid transparent!important;
        border-image: url(assets/images/borda-lupa.png) 15!important;
        margin-right: -7px;
    }

    .btn-search:hover{
        background-size: 100%;
    }

    .btn-secondary{
    color:#fff!important;
    }

    .social-media-bar{
        position: relative;
        top: 15px;
        z-index: 100;
    }

    .frame-overlay{
        background-image: url(assets/images/frame-banner-top.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        height: -webkit-fill-available;
        position: absolute;
        width: 100%;
        right: 0;
        left: 0;
        z-index: 1;
        margin-top: -22%;
        }


    .menu-cart:hover{
        transform: rotate(15deg);
    }

    .social-media-item:hover{
        transform: rotate(15deg);
        transform: scale3d(1.2,1.2,1.1);
    }


    .carousel-control-prev-icon, {
        background-image: url("assets/images/p-arrow.svg")!important;
        width: 36px!important;
        height: 106px!important;
        margin-left: 10px;
      }
    .carousel-control-next-icon {
        background-image: url("assets/images/n-arrow.svg")!important;
        width: 36px!important;
        height: 106px!important;
        margin-right: 10px;
      }


    .carousel-control-prev, .carousel-control-next {
        width: 10% !important;
    }

    .carousel-control-prev:hover, .carousel-control-next:hover {
        transform: scale(1.2,1.2);
    }



    .slider-container{
        width: 80%!important;
        margin:auto;
    } 

 
       .owl-carousel .owl-nav button.owl-prev {
         margin-top: auto;
         margin-bottom: auto;
     }
 
     .owl-carousel .owl-nav button.owl-next{
         margin-top: auto;
         margin-bottom: auto;
     }
 
    .owl-next, .owl-prev{
        position: absolute;
        top: 0;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
                width: 36px!important;
                height: 82%!important;
            padding: 0;
        text-align: center;
        border: 0;
        opacity: 0.5;
        -webkit-transition: opacity 0.15s ease;
        transition: opacity 0.15s ease;
        width: 10%;
        background-repeat: no-repeat!important;        
    }

    .owl-nav [class*=owl-]:hover{
        transform: scale(1.2,1.2);
    }

    .owl-next{
        right: 0;
        margin-right: -8%!important;
      }

      .owl-prev{
        left: 0;
        margin-left: -8%!important;
      }


 
      .smile-icon-1{
        background-image: url("assets/images/sm-1.svg");
        background-repeat: no-repeat;
        background-position: center;
       }

      .smile-icon-2{
        background-image: url("assets/images/sm-2.svg");
      }
      .smile-icon-3{
        background-image: url("assets/images/sm-3.svg");
      }
      .smile-icon-4{
        background-image: url("assets/images/sm-4.svg");
      }

      .smile-icon:hover{
        transform: scale(1.2,1.2);
        transform: rotate(15deg);
      }

    .carousel-home{
        margin-top: 24%;
        position: relative;
    }

    .carousel-indicator-cn-1{
        background: url(assets/images/dot-1.svg);
        background-repeat: no-repeat;        
    }
    .carousel-indicator-cn-2{
        background: url(assets/images/dot-2.svg);
        background-repeat: no-repeat;        
    }
    .carousel-indicator-cn-3{
        background: url(assets/images/dot-3.svg);
        background-repeat: no-repeat;        
    }

    .carousel-indicator-cn-4{
        background: url(assets/images/dot-4.svg);
        background-repeat: no-repeat;        
    }

    .carousel-indicator-cn-5{
        background: url(assets/images/dot-5.svg);
        background-repeat: no-repeat;
    }

    .footer{
        background: url(assets/images/bg-footer.jpg);
        background-repeat: no-repeat;
        background-position: bottom;
    }

         


    .border-frame-top{
        background-image: url(assets/images/border-top.png);
        background-repeat: no-repeat;
        background-size: contain;        
        height: 20px;
    }
    .border-frame-bottom{
        background-image: url(assets/images/border-top.png);
        background-repeat: no-repeat;
        background-size: contain;
        height: 20px;
    }


    .navbar-collapse{
            width: 100%;       
    }

    .card-title{
        color: $cn-magenta !important;
    }
    


    /* CART */

    $main-color:$cn-purple;
$light-text:$cn-dark-gray;

.cart-container {
  position: relative;
}

  .badge {
    background-color: $cn-magenta;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
    margin: 30px 20px;
    float: right;
    background: white;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    padding: 20px;
    z-index: 1000;
    /* top: 0; */
    right: 0;  
  
.shopping-cart-header {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 15px;
    
    .shopping-cart-total {
      float: right;
    }
}
  
.shopping-cart-items {
    
    padding-top: 20px;

      li {
        margin-bottom: 18px;
      }

    img {
      float: left;
      margin-right: 12px;
    }
    
    .item-name {
      display: block;
      padding-top: 10px;
      font-size: 16px;
    }
    
    .item-price {
      color: $main-color;
      margin-right: 8px;
    }
    
    .item-quantity {
      color: $light-text;
    }
  }
   
}

.shopping-cart:after {
	bottom: 100%;
	left: 89%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 8px;
	margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.button {
  background: $main-color;
  color:white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  margin: 25px 0 15px 0;
  
  &:hover {
    background: lighten($main-color, 3%);
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/************/


ol, ul {
    padding-left: 0!important;
}


.menu-mobile-link{
font-style: italic;
color: #525252;
font-size: medium;
font-weight: 600;
text-decoration: none;
}


.item{
    background-image: url("assets/images/img-holder.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 240px;}
    @import "../node_modules/bootstrap/scss/bootstrap";